<!doctype html>
<html>
<% include header %>
<body>
	 <% include navbar %>	
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
 <% var name = user.facebook.name; %>
<% var id = user.facebook.id; %>
     
<h3 id="gameId"></h3>
<h3 id="round"></h3>
<h4 id="turn"></h4>
<h5 id="timeLeft"></h5>
<button id="nextTurnButton">Lock!</button>

      <script>
          var socket = io();
          var roomId;
          var name = "<%= name %>";
          var id = "<%= id %>";
          var nextTurnButton = document.getElementById("nextTurnButton");
          var roundText = document.getElementById("round");
          var turnText = document.getElementById("turn");
          var timeLeftText = document.getElementById("timeLeft");
          nextTurnButton.hidden = true;

          socket.on('connect', function (data) {
            socket.emit('initialize', { userId: id, roomId : roomId});
          });

          socket.on(roomId, function(data){
            console.log(data);
            console.log(id);
            if(id == data.turn.userId){
                turnText.innerHTML = "Its your turn!";
                nextTurnButton.hidden = false;

                nextTurnButton.onclick = function(){
                    socket.emit('nextTurn', { nextTurn : 1, roomId : roomId})
                    nextTurnButton.hidden = true;
                };
            }else{
                turnText.innerHTML = "Its "+data.turn.name+ "s Turn!";
            }

             roundText.innerHTML = "Round "+data.round;
             gameTimeText.getElementById("gametime").innerHTML = "Gametime:"+ data.gameTime;
          });

          socket.on('disconnectUser', function(){
            window.location.href = "/";
          });
      </script>
    <% include footer %>
</body>
</html>