<div hidden id="gameArea" class="center">
  <div id="gameInfo" class="green left">
    <h5 id="roomId"></h5>
    <h5 id="round"></h5>
    <h5 id="timeLeft"></h5>

  </div>
  <div id="notificationArea">

  </div>

  <div id="choiceArea">
    <a id="nextTurnButton" class="waves-effect green btn-large">Save and end turn!</a>
    <a id="getCardButton" class="waves-effect amber btn-large">Pick Card!</a>
  </div>
  <div id="roundInfo">
    <h5 id="turn"></h5>
  </div>

  <div id="gameChat" class="green left">
    <div id="gameChatArea">
      <ul class="messages">

      </ul>
    </div>
    <input id="gameChatInput" type="text" placeholder="Type to chat!">
  </div>
  <h5 id="gametime"></h5>
  <div id="cardPile">

  </div>
  <div id="cardGenerator"></div>
  <div class="progress">

    <div class="determinate" style="width: 100%; z-index: 1 "></div>
    <p id="progressTime"></p>
  </div>
  <div id="cardSlots">
  </div>
</div>

<script src="/public/js/game.js"></script>

