<head>
<title>SocketPoker</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>