<!doctype html>
<html>
<% include header %>
<body>
	 <nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">SocketPoker</a>
    </div>
  </nav>
 
    <div class="container" id="container">
      <br><br>
      <h1 class="header center green-text">Play now!</h1>
      <div class="row center">

		<div id="fb-root"></div>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login with Facebook</a>
		
    </div>
      <h5 class="center">Users Playing: <% amountOfPlayers %></h5>
    </div>
     <% include footer %>
</body>
</html>

