<!doctype html>
<html>
<head>
	<title>SocketPoker</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	
	
</head>
<body>
	 <nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">SocketPoker</a>
    </div>
  </nav>
 
    <div class="container" id="container">
      <br><br>
      <h1 class="header center green-text">Play now!</h1>
      <div class="row center">

		<div id="fb-root"></div>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login with Facebook</a>
		
    </div>
      <h5 class="center">Users Online: 234</h5>
    </div>
</body>
</html>

