<!doctype html>
<html>
<% include header %>
<body>
<% include navbar %>
    <div class="section no-pad-bot" id="index-banner">
     <div class="container">
        <br><br>
        <h1 class="header center ">Lobby</h1>
     </div>
    </div>    
        <h5 class="center">Press search to do a matchmaking!</h5>
        <p class="center"><a href="/queue" class="btn btn-primary"><span class="fa fa"></span> Search for game</a></p>

</body>
 <% include footer %>
</html>