 <nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Timeline</a>
      <div class="nav-wrapper right">
      <ul class="right ">
        <li><p><%= user.facebook.name %> </p> </li>
        <li> <a href="/logout" class="btn btn-default btn-sm">Logout</a>  </li>
      </ul>
    </div>
    </div>
</nav>
   