<!doctype html>
<html>
<head>
	<title>SocketPoker</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	
	
</head>
<body>
	 <nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">SocketPoker</a>
    </div>
  </nav>
 
  
		
      <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
      <script src="/socket.io/socket.io.js"></script>

      <% var name = user.facebook.name; %>
      <% var id = user.facebook.id; %>
      <script>
          var socket = io();
          var name = "<%= name %>";
          var id = "<%= id %>";
          socket.on('connect', function (data) {
            socket.emit('initialize', { customId: id, roomId : document.location.href.substr(document.location.href.lastIndexOf('/') + 1)});
          });
  
      </script>
</body>
</html>