<!doctype html>
<html>
<head>
	<title>SocketPoker</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	
	
</head>
<body>
 <nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">SocketPoker</a>
      <div class="nav-wrapper right">
      <ul class="right ">
        <li><p><%= user.facebook.name %> </p> </li>
        <li> <a href="/logout" class="btn btn-default btn-sm">Logout</a>  </li>
      </ul>
    </div>

    </div>
  </nav>
   
     <div class="center container">
        <span class="center"><img class="center" src="images/loading.gif"/></span>
        <p id="leaveQueueButton" class="center"><a href="/lobby" class="btn"><span class="fa fa"></span> Leave Queue</a></p>
        <h3 id="peopleLeft"></h3>
        <h5 id="inqueue"></h5>
        </div>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>

  <% var name = user.facebook.name; %>
  <% var id = user.facebook.id; %>
    <script>
      var socket = io();
      var name = "<%= name %>";
      var id = "<%= id %>";
      var users;
      socket.on('connect', function (data) {
        socket.emit('storeClientInfo', { customId: id, name: name });
      });

      socket.on('queue', function(data){
        document.getElementById("peopleLeft").innerHTML = "Waiting for players : " + data.totalInQueue + "/" + data.maxPlayers;
        document.getElementById("inqueue").innerHTML = data.inQueue
      });  

      socket.on('gameReady', function(data){
        document.getElementById("peopleLeft").innerHTML = "All here!starting in 5 seconds";
        document.getElementById("leaveQueueButton").hidden = true;
        var i = 5;

        var myinterval = setInterval(function() {
        document.getElementById("inqueue").innerHTML = "Quitting now gives a temporary ban";
        document.getElementById("peopleLeft").innerHTML = "All here! starting in "+i+" seconds";
        

        if (i === 0) {
            window.location.href = data.url
            clearInterval(myInterval);
            
        }else {
            i--;
        }
        }, 1000);
         
       
      });   
    </script>
  

 

</body>
</html>