/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body{
  color: white;
  /*background-color: black;*/
  background-image: url("../images/background.jpg");
  height:100%;
}

footer{
  position:absolute;
  bottom: 0;
  right:0;
  margin-right: 2px;
  text-align: center;
  background-color: #4caf50;
  width: 100%;
}


/* Lobby section */

#statsSection {
  border: none;
  padding: 15px;
  background-color: #4caf50;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
 
  width:20%;
  float:left;
}

#actionSection {
  position: absolute;
  margin-left: 25%;
}

#ladderSection {
  border: none;
  padding: 15px;
  background-color: #4caf50;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

  width:20%;
  float:right;
}

#friendsSection { 
  width:20%;
  background: blue;
}

/* Game section */

#gameArea{
  position: absolute;
  top:6.5%;
  bottom:0;
  width:100%;
  overflow: hidden;
}

#gameInfo {
  position: relative;
  top: 0;
  margin-top: 0px;
  border-radius: 5px;
}

#gameChat {
  bottom:0;
  position:absolute;
  max-width:20%;
  min-width:20%;
  min-height:30%;
  max-height:30%;
}

#gameChatArea {
  background-color: white;
  overflow-y: scroll;
  position:absolute;
  width:100%;
  padding-left: 7px;
  max-height: 75%;
  min-height: 75%;
}

#gameChatInput{
  bottom:0;
  position:absolute;
  padding-left: 7px;
  left:0;
  margin-bottom: 0;
}

#notificationArea {
  position: absolute;
  width:100%;
  height:10%;
  top: 30%;
}
#notificationArea #message {
  position: absolute;
  
}

/*
  Category cards
*/



.messages{
  text-align: left;
  color:black;
  left:0;
}

.messages li{

}

/*
#cardSlots{
  position:absolute;
  bottom:0;
  min-width:80%;
  max-width:80%;
  margin-left:20%;
  min-height:20%;
  max-height:20%;
  background-color:peru;
}*/

#cardSlots {
  position:absolute;
  bottom:0;
  min-width:80%;
  max-width:80%;
  margin-left:20%;
  height:20%;
  max-height:20%;
  background-color:peru;
}

#roundInfo {
  position:absolute;
  bottom:23%;
  width:100%;
  height:7%;
  margin-left: 20%;
  background-color:#4caf50 ;
}

#cardPile {
  position: relative;
  margin-right: 30%;
  background: none;
  height: 20%;
  max-height: 20%;
  width: 32%;
  float: right;
}

/*---UNLOCKED CARDS---*/
#cardPile div{
    text-align: center;
    height: 100%;
    max-height: 100%;
    width: 25%;
    max-width: 25%;
    position: absolute;
    color: #fff;
    
    float: right;
    z-index: 1;
   
 }

#choiceArea {
    width: 50%;
    position: absolute;
    top: 30%;
    margin-left: 33%;
}

#nextTurnButton {
  width:30%;
  float: left;
  margin-bottom: 10%;
  color:black;
}

#getCardButton {
  width: 30%;
  float: left;
  color:black;
}

/*---LOCKED CARDS---*/
 #cardSlots .card {
   text-align: center;
    height: 100%;
    min-width: 100%;
    position: absolute;
    margin-top: initial;
    color: #fff;
    float: left;
    background-color: #8bc34a;
    z-index: 2;
 }

 #cardYear{
    color:black;
    float:left;
    min-width: 100%;
    height: 20%;
    border-bottom: 2px solid black;
    font-size: 20px;
 }
 #cardDesc{
    color:black;
    float:left;
    min-width: 100%;
    height: 50%;
 }

/*---The dropable slots---*/
#cardSlots div {
  color: black;
  position:relative;
  float: left;
  min-width: 10%;
  max-width: 10%;
  min-height: 100%;
  max-height: 100%;
  padding-right: 0.5%;  
  background: papayawhip;
  border-right: 1px solid black;
}

#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}

#cardSlots div.hovered {
  background: #aaa;
}


#cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/*---Countdown bar---*/
.progress{
  position: absolute;
  height: 3%;
  display: block;
  bottom: 18.5%;
  width: 80%;
  background-color: #acece6;
  border-radius: 2px;
  text-align: center;
  margin-left: 20%;
  overflow: hidden;
}



.determinate {
    z-index: 1;
}

.smallFormDiv {
  width: 20%;
}
.smallFormDiv label {
  font-size: 20px;
  color:white;
}

#privateRoomContainer {
  margin-left:30%;
  margin-right:30%;
}
#joinRoomDiv {
  width:30%;
}

label {
  color: white;
}
  
.hidden {
  display: none;
}

#privateRoomList {
  width:50%;
}




